body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.enter {
  opacity: 0.01;
}

.enter-appear {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.enter.enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.leave {
  opacity: 1;
}

.leave.leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
